body {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size: .9375em;
    line-height: 1.65em;
    background: #fff;
    color: #222;
    margin: auto;
    max-width: 700px;
    padding: 0 20px;
    margin-top: 100px;
}

a {
  text-decoration: none;
  color: gray;
}

h2 {
  color: #3159a9;
}

.pub {
        padding-left: 0em;
        text-indent:0em;
}

.banner {
  background: #cccccc;
  /*width: 100%;*/
  padding: 60;
  text-align: center;
  color: white;
  /*position:absolute;*/
  /*top:0px;*/
  /*right:0px;*/
  /*bottom:0px;*/
  /*left:0px;*/
}

.pub {
  margin-bottom: 10px;
}
.pub u {
  color: #3159a9;
}
.pub a {
  color: #3159a9;
  text-decoration: none;
}
.pub a:hover {
  text-decoration: underline;
}